<header id="mainHeader">
	<div class="content">
		<a href="#/videos" data-title="videos" class="logo route tooltip">
			<div class="marker"></div>
			{{!-- 
			{{#if event}}
				<div class="eventTitle title">
					<h1>Open Path</h1>
					<h2>{{ event.name }}</h2>
					<h3><span class="startTime">{{ event.startTime }}</span> - <span class="endTime">{{ event.endTime }}</span>&nbsp; <span class="location">{{ event.location.name }}</span> </h3>
				</div>
				
			{{else}}
				<div class="title">
					<h1 class="title">Open Path</h1>
				</div>
			{{/if}}

			--}}
		</a>
		<nav class="main">
			<ul>
				<li class="invite">
					<a href="#/invite" class="route tooltip" data-title="Add Participants"></a>
				</li>
				<li class="events">
					<a href="#/events" class="route tooltip" data-title="Events"></a>
				</li>
				<li class="profile">
					<a href="#/profile" class="route tooltip" data-title="Profile"><span class="badge">6</span></a>
				</li>
			</ul>
		</nav>
	</div>
</header>